services:
  backend:
    build:
      context: ../Backend
      dockerfile: Dockerfile
    container_name: node-asterisk
    volumes:
      - ../Backend/:/app
    depends_on:
      - asterisk
      - espeak
    ports:
      - "3500:3500"
    networks:
      - asterisk-network
  asterisk:
    build:
      context: ../asterisk
      dockerfile: Dockerfile
    container_name: asterisk
    ports:
      - "5060:5060/udp"
      - "10000-10100:10000-10100/udp"
      - "8088:8088"
    networks:
      - asterisk-network
    volumes:
      - ../asterisk/conf/extensions.conf:/etc/asterisk/extensions.conf
      - ../asterisk/conf/pjsip.conf:/etc/asterisk/pjsip.conf
      - ../asterisk/conf/logger.conf:/etc/asterisk/logger.conf
      - ../asterisk/conf/ari.conf:/etc/asterisk/ari.conf
      - ../asterisk/conf/http.conf:/etc/asterisk/http.conf
      - ../espeak/tts:/var/lib/asterisk/sounds/tmp
  espeak:
    build: ../espeak
    container_name: espeak
    volumes:
      - ../espeak/tts:/app/tts
    ports:
      - "5000:5000"
    networks:
      - asterisk-network
networks: 
  asterisk-network:
    driver: bridge